In [2]:
import tensorflow as tf
from data import TitanicData

In [3]:
titanic = TitanicData()
titanic.load_preprocess_when_exists()

In [4]:
titanic.processed_train.head(3)

,PassengerId,Survived,Age,SibSp,Parch,Fare,NameLength,HasCabin,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,90,0,24.0,0,0,8.0500,22,0,0,0,1,0,1,0,0,1
1,91,0,29.0,0,0,8.0500,20,0,0,0,1,0,1,0,0,1
2,92,0,20.0,0,0,7.8542,26,0,0,0,1,0,1,0,0,1